/* Sidebar */
.sidebar {
  width: 300px;
  min-height: 100vh;
  background-color: #1086e7; /* dark blue */
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 2px 20px 40px 2px;
}

/* Nav links */
.sidebar .nav-link {
  color: #cbd5e1;
  margin-bottom: 10px;
  border-radius: 8px;
 
}

.sidebar .nav-link:hover {
 
  color: #07160e;
  border-radius: 20px;
  font-size: large;
}

.sidebar .nav-link.active {
  background-color: #2563eb;
  color: #fff;
}

/* Right content */
.content {
  margin-left: 600px;   /* same as sidebar width */
  padding: 30px;        /* col gap 30px */
  width: 100%;
}
ul :hover{
    background-color: white;
    background-size: 20px;
    border-radius: 30px;
}
.links {
  color: #cbd5e1;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
}

.links:hover {
  background-color: #f3f4f7;
  color: #0c0606;
}

/* Icon size */
.links i {
  font-size: 18px;
}
